:root {
    --primary-color: #bc128f;
    --secondary-color:rgba(187, 17, 122, 0.223);
  }
  body {
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.xw7VfSaNNXz1hVUoXI08BwHaDt&pid=Api&P=0&h=180');
  }
  h2{
    background-color: black;
    margin-left: 350px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    color: rgb(35, 131, 158);
    display: inline-block;
    text-align: center;
  }
  h2:hover{
    margin-left: 350px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: rgb(0, 0,0);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 131, 158);
    display: inline-block;
    text-align: center;
  }
  
  .card {
    padding: 20px 0px;
    border: 4px var(--primary-color) solid;
    border-radius: 10px;
  }
  
  /* Input Section */
  
  .card-title {
    font-size: 24px;
    padding: 20px 0px;
    font-weight: 600;
  }
  
  label {
    font-weight: 500;
  }
  
  select {
    margin-bottom: 40px;
  }
  
  #selectInputDegreeType {
    border-radius: 0px 3px 3px 0px;
  }
  
  
  .convertBtn {
    min-width: 10px;
    background-color: var(--primary-color);
  
  
  }
  
  .convertBtn:hover {
    transition: 0.5s;
    background-color: var(--secondary-color);
  }
  
  /* Result Section */
  
  #resultValueSection {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 200px;
    word-wrap: normal;
    text-align: center;
    font-size-adjust: 0.58;
  
  }
  
  #convertedDegree {
    font-size: 65px;
    font-weight: 500;
    max-width: 500px;
  }
  
  #convertedUnit,
  #degree {
    padding-bottom: 70px;
  }
  
  .resultSection {
    background-color: var(--primary-color);
    color: white;
  }
  
  
  
  
  /* Mobile view  */
  @media only screen and (max-width: 600px) {
  
    body {
      display: relative;
      overflow: hidden;
    }
  
    .card-group {
      padding: 0;
    }
  
    .card {
      border: none;
      border-radius: 0;
      padding: 0;
    }
  
    .card-title {
      line-height: 40px;
    }
  
    .card-body {
      padding: 0;
    }
  
    .resultSection {
      position: fixed;
      top: 0;
      padding: 10px 0px;
      text-align: center;
    }
  
    .inputSection {
      margin-top: 60%;
    }
  
    #degree,
    #convertedUnit {
      padding-top: 50px;
    }
  
  }
